<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="patient-area">
    <div class="title">
        <a th:href="@{'/patient/' + ${patientId} + '/history/list'}"><i class='fa fa-arrow-left'></i></a>
        <h2>Update patient note/recommandations</h2>
    </div>
    <div class="content-area">
        <div class="form">
            <form th:action='@{/history/update}' method='post' th:object="${historyBean}">
                <div class='field'>
                    <input type="hidden"  name="id" th:value="${historyBean.id}" />
                    <input type="hidden"  name="patientId" th:value="${historyBean.patientId}" />
                    <input type="hidden"  name="date" th:value="${#dates.formatISO(historyBean.date)}" />
                    <input type="text"  name="family" th:value="${family}"  readOnly/>
                </div>

                <div class='field textarea' th:classappend="${#fields.hasErrors('note')} ? 'error' : ''">
                    <textarea cols="" rows="" name="note" th:text="${historyBean.note}"></textarea>
                    <span class="error-message"
                          th:errors="*{note}" th:if="${#fields.hasErrors('note')}"/>
                </div>

                <div class='field'>
                    <input type="submit" value="Update"/>
                    <a th:href="@{'/patient/' + ${patientId} + '/history/list'}" class="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
</body>
</html>