<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="patient-area">
    <div class="title">
        <h2>Add new patient</h2>
    </div>
    <div class="content-area">
        <div class="form">
            <form action='#' method='post'>
                <div class='field error'>
                    <input type="text"  name="firstname" placeholder="Nom..." class="error"/>
                    <span class="error-message">This field is incorrect.</span>
                </div>
                <div class='field error'>
                    <input type="text" name="lastname" placeholder="Prénom..."/>
                    <span class="error-message">This field is incorrect.</span>
                </div>
                <div class='field'>
                    <input type="text" name="birthdate" placeholder="Date de naissance..."/>
                    <span class="error-message">This field is incorrect.</span>
                </div>
                <div class='field'>
                    <div class="genre">
                        <input type="checkbox" value="H" id="homme"/> <label for="homme">Homme</label>

                    </div>
                    <div class="genre">
                        <input type="checkbox" value="H" id="femme"/> <label for="femme">Femme</label>

                    </div>
                </div>
                <div class='field'>
                    <input type="text" name="address" placeholder="Adresse postale..."/>
                    <span class="error-message">This field is incorrect.</span>
                </div>
                <div class='field'>
                    <input type="text" name="phoneNumber" placeholder="Numéro de téléphone..."/>
                    <span class="error-message">This field is incorrect.</span>
                </div>
                <div class='field'>
                    <input type="submit" value="Create"></input>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
</body>
</html>