<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="patient-area">
    <div class="inner">
        <div class="title">
            <h2>Patient managment</h2>
        </div>
        <div class="content-area">
            <div class="content-head">
                <div class="search">
                    <input type="text" name="search" placeholder="Search by patient name..."/>
                    <i class="fa fa-search"></i>
                </div>
                <a th:href="@{/patient/addForm}" class="btn-primary"><i class="fa fa-plus"></i>  New patient</a>
            </div>
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Numéro de téléphone</th>
                    <th>Action</th>
                </tr>
                <tr th:each="patient: ${patients}">
                    <td th:text="${patient.family}"/>
                    <td th:text="${patient.given}"/>
                    <td th:text="${patient.dob}"/>
                    <td th:text="${patient.phone}"/>
                    <td>
                        <a th:href="${'/patient/updateForm/' + {patient.id}}"><i class="fa fa-edit"></i></a>
                        <a th:href="${'/patient/' + {patient.id} + '/history/list'}"><i class="fa fa-sticky-note-o"></i></a>
                        <a th:href="${'/assess/' + {patient.id}}"><i class="fa fa-file"></i></a>
                        <a th:href="${'/patient/delete/' + {patient.id}}"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>

            </table>
            <div class="pagination">
                <a th:href="@{'/patient/list/' + ${currentPage - 1}}" th:if="${currentPage > 1}">&laquo;</a>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:class="${currentPage == i } ? active : ''"
                           th:href="@{'/patient/list/' + ${i}}">[[${i
                            }]]</a>
                    </span>
                <a th:href="@{'/patient/list/' + ${currentPage + 1}}" th:if="${currentPage < totalPages}">
                    &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
</body>
</html>