<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
  <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="patient-area">
  <div class="title">
    <a th:href="@{/patient/list}"><i class='fa fa-arrow-left'></i></a>
    <h2>Patient assessment</h2>
  </div>
  <div class="content-area">
    <div class='assessment-inner'>
      <h3>Nom: <span th:text="${assessment.family}"/></h3>
      <h3>Prénom: <span th:text="${assessment.given}"/></h3>
      <h3>Age: <span th:text="${assessment.birthdate} + ' ans'"/></h3>
      <h3> L'évaluation du diabète est: <span th:classappend="${#strings.toLowerCase(#strings.replace(#strings.replace(#strings.arraySplit(assessment.assessment,' ')[#arrays.length(#strings.arraySplit(assessment.assessment, ' ')) - 1],'(',' '),')',' '))}" th:text="${assessment.assessment}"/></h3>
    </div>
  </div>
</div>

<div th:replace="common/header :: footer"/>
</body>
</html>