<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="hero-area">
    <div class="hero-area__info">
        <h2>We care.</h2>
        <p>Mediscreen specializes in detecting risk factors for
            disease. Our screenings using predictive analysis of patient
            populations at an affordable cost.
        </p>
        <ul>
            <li>Are you a small or rural clinic or practice ?</li>
            <li>Do you nedd screenings for heart disease or hyper tension
                precursors?
            </li>
        </ul>
        <h3>We have a solution for you.</h3>
    </div>
    <div class="hero-area__img">
        <p><img src="/images/hero.jpeg"/></p>
    </div>
</div>
<h1>hello content</h1>
<div th:replace="common/header :: footer"/>
</body>
</html>