<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
    <head th:replace="common/header :: common-header"/>
</head>
<body>
<div th:replace="common/header :: header"/>

<div class="patient-area">
    <div class="inner">
        <div class="title">
            <h2>Note/recommandations managment</h2>
        </div>
        <div class="content-area">
            <div class="content-head">
                <a th:href="${'/patient/' + {patient.id} + '/note/addForm'}" class="btn-primary"><i class="fa fa-plus"></i>  Add note</a>
            </div>
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Date note</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
                <tr th:each="note: ${notes}">
                    <td th:text="${note.family}"/>
                    <td th:text="${patient.date}"/>
                    <td th:text="${patient.note}"/>
                    <td>
                        <a th:href="${'/patient/' + {patient.id} + '/note/' + {note.id}}"><i class="fa fa-edit"></i></a>
                        <a th:href="${'/patient/' + {patient.id} + 'note/delete/' + {note.id}}"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>

            </table>
            <div class="pagination">
                <a th:href="@{'/patient/list/' + ${currentPage - 1}}" th:if="${currentPage > 1}">&laquo;</a>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:class="${currentPage == i } ? active : ''"
                           th:href="@{'/patient/list/' + ${i}}">[[${i
                            }]]</a>
                    </span>
                <a th:href="@{'/patient/list/' + ${currentPage + 1}}" th:if="${currentPage < totalPages}">
                    &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: footer"/>
</body>
</html>